
.nav {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
}
.container {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
}
#riot {
    height: 100%;
    width: 121px;
}
#logo {
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 200px;
}
#search {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 5px;
    width: 50px;
    height: 50%;
    background-color: #2b2a29;
    border-radius: 50%;
}
#search img {
    width: 50%;
    height: 50%;
}
#language {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 5px;
    width: 50px;
    height: 50%;
    border-radius: 50%;
}
#sign-in {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    width: auto;
    height: 50%;
    background-color: #2b2a29;
    border-radius: 10%;
    color: white;
    text-transform: uppercase;
}
#play-now {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    width: auto;
    height: 50%;
    background-color: cyan;
    border-radius: 20%;
    color: black;
    text-transform: uppercase;
}
.dropdown {
  float: left;
  position: relative;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  width: auto;
  height: 10px;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}